body {
  background: linear-gradient(
    to top,
    #87cefa,
    #1e90ff
  ); /* Da azzurro chiaro a azzurro più intenso */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.weather-card {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); 
  border-radius: 20px;
  padding: 20px;
  width: 320px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  margin: 10px; /* Add some margin to ensure it's not too close to the edges on small screens */
}

.header-main,
.additional-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  align-items: center;
  margin-bottom: 10px;
}

.city-info {
  text-align: center;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
}

.detail-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.detail-item img {
  width: 35px;
  height: 35px;
  margin-right: 8px; 
}

.detail-item p {
  margin: 0;
}

.hourly-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.forecast-item {
  text-align: center;
}

.forecast-item p {
  margin: 5px 0;
  font-size: 14px;
}

.forecast-item img {
  width: 24px;
  height: 24px;
}

.city-select-container {
  position: relative;
  width: 100%;
  max-width: 250px; 
  margin: 5px auto 15px; 
}

.city-select {
  width: 100%;
  padding: 10px;
  padding-right: 40px; 
  font-size: 18px; 
  font-weight: bold; 
  text-align: center;
  color: #333;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
  outline: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

.city-select-container .select-arrow {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  transform: translateY(-50%);
}

.city-select option {
  background-color: #87cefa; 
  color: #000; 
  border-radius: 8px; 
  padding: 10px;
}

.city-select:focus {
  border-color: rgba(
    255,
    255,
    255,
    0.8
  ); 
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .weather-card {
    padding: 15px; 
  }

  .temperature {
    font-size: 28px; 
  }

  .description {
    font-size: 14px;
  }

  .detail-item img {
    width: 30px; 
    height: 30px;
  }

  .hourly-forecast {
    flex-direction: row; 
    align-items: center;
  }

  .forecast-item {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .city-select-container {
    max-width: 90%; 
    padding: 0 10px; 
  }

  .city-select {
    font-size: 16px; 
  }
}
